#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"
#include "version.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDA_APP_ICON		ICON		"console.ico"


LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDM MENU
{
	POPUP "&File"
	{
		MENUITEM "&Remove Config File", IDM_FILE_REMOVECONFIG
		MENUITEM "&Settings...", IDM_FILE_SETTINGS
		MENUITEM "&Exit", IDM_FILE_EXIT
	}
	POPUP "&Server"
	{
		MENUITEM "&Servers...", IDM_SERVER_EDITSERVERS
		MENUITEM "&Rotation...", IDM_SERVER_ROTATION
		MENUITEM "&Banned IPs...", IDM_SERVER_BANNEDIPS
	}
	POPUP "&AutoKick"
	{
		MENUITEM "&Enable AutoKick", IDM_AUTOKICK_ENABLE
		MENUITEM "Set Maximum &Ping...", IDM_AUTOKICK_SETPING
		MENUITEM "Edit AutoKick &IDs/Names...", IDM_AUTOKICK_EDITENTRIES
	}
	POPUP "&Help"
	{
		MENUITEM "&DPLogin", IDM_HELP_DPLOGIN
		MENUITEM "&Common Rcon Commands", IDM_HELP_RCONCOMMANDS
		MENUITEM "&Serverbrowser", IDM_HELP_SERVERBROWSER
		MENUITEM "&About", IDM_HELP_ABOUT
	}
}

IDD_SERVERS DIALOG 0, 0, 401, 269
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Servers"
FONT 9, "Segoe UI"
{
    GROUPBOX        "Server Browser", IDC_STATIC, 7, 7, 191, 255
    LISTBOX         IDC_SERVERS_LISTLEFT, 13, 18, 180, 239, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_NOTIFY | LBS_WANTKEYBOARDINPUT
    GROUPBOX        "Saved Servers", IDC_STATIC, 203, 7, 191, 238
    LISTBOX         IDC_SERVERS_LISTRIGHT, 209, 18, 180, 171, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_NOTIFY | LBS_WANTKEYBOARDINPUT
    LTEXT           "Address:", IDC_STATIC, 209, 196, 37, 8
    CONTROL         "0.0.0.0", IDC_SERVERS_EDITIP, WC_IPADDRESS, WS_TABSTOP, 248, 194, 105, 12
    EDITTEXT        IDC_SERVERS_EDITPORT, 355, 194, 34, 12, ES_NUMBER
    LTEXT           "Password:", IDC_STATIC, 209, 213, 34, 8
    EDITTEXT        IDC_SERVERS_EDITPW, 248, 211, 141, 12, ES_AUTOHSCROLL | ES_PASSWORD
    PUSHBUTTON      "&Add", IDC_SERVERS_BUTTONADD, 220, 228, 50, 12
    PUSHBUTTON      "&Overwrite", IDC_SERVERS_BUTTONSAVE, 275, 228, 50, 12
    PUSHBUTTON      "&Remove", IDC_SERVERS_BUTTONREMOVE, 330, 228, 50, 12
    PUSHBUTTON      "&Close", IDCANCEL, 344, 250, 50, 12
}

IDD_FORCEJOIN DIALOG 0, 0, 174, 57
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Forcejoin - Pick Color"
FONT 9, "Segoe UI"
{
    PUSHBUTTON      " &Red", IDC_FJ_BUTTONRED, 7, 7, 50, 12
    PUSHBUTTON      " &Blue", IDC_FJ_BUTTONBLUE, 7, 21, 50, 12
    PUSHBUTTON      " &Purple", IDC_FJ_BUTTONPURPLE, 62, 7, 50, 12
    PUSHBUTTON      " &Yellow", IDC_FJ_BUTTONYELLOW, 62, 21, 50, 12
    PUSHBUTTON      "&Auto", IDC_FJ_BUTTONAUTO, 117, 7, 50, 12
    PUSHBUTTON      " &Observer", IDC_FJ_BUTTONOBSERVER, 117, 21, 50, 12
    DEFPUSHBUTTON   "&Cancel", IDCANCEL, 117, 38, 50, 12
}

IDD_BANNEDIPS DIALOG 0, 0, 245, 236
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Banned IPs"
FONT 9, "Segoe UI"
{
    LISTBOX         IDC_IPS_LIST, 7, 7, 121, 222, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_NOTIFY | LBS_WANTKEYBOARDINPUT
    CONTROL         "", IDC_IPS_IPCONTROL, WC_IPADDRESS, WS_TABSTOP, 133, 105, 105, 12
    PUSHBUTTON      "&Add", IDC_IPS_BUTTONADD, 133, 119, 50, 12
    PUSHBUTTON      "&Remove", IDC_IPS_BUTTONREMOVE, 188, 119, 50, 12
    PUSHBUTTON      "&Close", IDCANCEL, 188, 217, 50, 12, 0
}

IDD_AUTOKICK_ENTRIES DIALOG 0, 0, 338, 242
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Edit AutoKick IDs / Names"
FONT 9, "Segoe UI"
{
    LISTBOX         IDC_AUTOKICK_LIST, 7, 7, 159, 212, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_NOTIFY | LBS_WANTKEYBOARDINPUT
    GROUPBOX        "Auto-Kick Entry", IDC_STATIC, 171, 87, 160, 68
    EDITTEXT        IDC_AUTOKICK_EDIT, 177, 98, 149, 12, ES_AUTOHSCROLL
    AUTORADIOBUTTON "DPLogin ID", IDC_AUTOKICK_RADIOID, 177, 115, 149, 8
    AUTORADIOBUTTON "Player name", IDC_AUTOKICK_RADIONAME, 177, 125, 149, 8
    PUSHBUTTON      "&Add", IDC_AUTOKICK_BUTTONADD, 198, 138, 50, 12
    PUSHBUTTON      "&Overwrite", IDC_AUTOKICK_BUTTONOVERWRITE, 253, 138, 50, 12
    PUSHBUTTON      "&Remove", IDC_AUTOKICK_BUTTONREMOVE, 62, 223, 50, 12
    PUSHBUTTON      "&Close", IDCANCEL, 281, 223, 50, 12
}

IDD_ROTATION DIALOG 0, 0, 378, 270
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Rotation"
FONT 9, "Segoe UI"
{
    GROUPBOX        "Maplist", IDC_STATIC, 7, 7, 156, 256
    LISTBOX         IDC_ROTATION_LIST, 14, 18, 143, 195, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_NOTIFY | LBS_WANTKEYBOARDINPUT
    EDITTEXT        IDC_ROTATION_EDITMAP, 14, 215, 143, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "&Add", IDC_ROTATION_BUTTONADD, 31, 229, 50, 12
    PUSHBUTTON      "&Remove", IDC_ROTATION_BUTTONREMOVE, 86, 229, 50, 12
    PUSHBUTTON      "Re&move all maps", IDC_ROTATION_BUTTONCLEAR, 41, 246, 85, 12
    GROUPBOX        "Mapshot", IDC_STATIC, 172, 7, 199, 165
    LTEXT           "", IDC_ROTATION_MAPSHOT, 178, 18, 187, 150
    GROUPBOX        "Rotation file", IDC_STATIC, 172, 179, 199, 42
    EDITTEXT        IDC_ROTATION_EDITFILE, 178, 190, 187, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "&Save to file", IDC_ROTATION_BUTTONWRITE, 215, 204, 50, 12
    PUSHBUTTON      "&Load from file", IDC_ROTATION_BUTTONREAD, 270, 204, 58, 12
    PUSHBUTTON      "&Close", IDCANCEL, 321, 251, 50, 12
}

IDD_SETTINGS DIALOG 0, 0, 280, 191
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Settings"
FONT 9, "Segoe UI"
{
    GROUPBOX        "Network", IDC_STATIC, 7, 7, 266, 27
    LTEXT           "Time to wait for your servers to respond:", IDC_STATIC, 13, 18, 135, 8
    EDITTEXT        IDC_SETTINGS_EDITTIMEOUTOWNSERVERS, 184, 16, 38, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "milliseconds", IDC_STATIC, 227, 18, 44, 8
    GROUPBOX        "Intervals", IDC_STATIC, 7, 39, 266, 46
    LTEXT           "Checking interval for AutoKick (if active):", IDC_STATIC, 13, 50, 180, 8
    EDITTEXT        IDC_SETTINGS_EDITAUTOKICKINTERVAL, 196, 49, 38, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "seconds", IDC_STATIC, 239, 50, 32, 8
    LTEXT           "Automatically refresh players after (0 = disabled):", IDC_STATIC, 13, 69, 180, 8
    EDITTEXT        IDC_SETTINGS_EDITAUTORELOAD, 196, 68, 38, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "seconds", IDC_STATIC, 239, 69, 32, 8
    GROUPBOX        "Other settings", IDC_STATIC, 7, 90, 266, 77
    AUTOCHECKBOX    "Limit console line count to:", IDC_SETTINGS_CHECKLINECOUNT, 14, 102, 111, 8
    EDITTEXT        IDC_SETTINGS_EDITLINECOUNT, 127, 100, 38, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "lines", IDC_STATIC, 170, 102, 28, 8
    AUTOCHECKBOX    "Color the row backgrounds in the player's team colors.", IDC_SETTINGS_CHECKCOLORPLAYERS, 14, 118, 253, 8
    AUTOCHECKBOX    "Color the pings from green to red", IDC_SETTINGS_CHECKCOLORPINGS, 14, 134, 253, 8
    AUTOCHECKBOX    "Don't show the lower part of the GUI (manual rcon)", IDC_SETTINGS_CHECKDISABLECONSOLE, 14, 150, 253, 8
    PUSHBUTTON      "&Cancel", IDCANCEL, 168, 172, 50, 12
    DEFPUSHBUTTON   "&OK", IDC_SETTINGS_BUTTONOK, 223, 172, 50, 12
}

// Text is set in OnRCONCommandsInitDialog because the microsoft .rc compiler truncates text here.
IDD_RCONCOMMANDS DIALOG 0, 0, 319, 231
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Common Rcon Commands"
FONT 9, "Segoe UI"
{
    LTEXT           "Some info text", IDC_RCONCOMMANDS_INFOTEXT, 7, 7, 300, 200
    DEFPUSHBUTTON   "&Close", IDCANCEL, 262, 212, 50, 12
}

IDD_SETPING DIALOG 0, 0, 173, 65
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Set Maximum Ping"
FONT 9, "Segoe UI"
{
    CTEXT           "Maximum allowed ping (0 = unlimited):", IDC_STATIC, 7, 10, 159, 8, SS_CENTER
    EDITTEXT        IDC_SP_EDIT, 41, 24, 40, 12, ES_NUMBER
    LTEXT           "milliseconds", IDC_STATIC, 86, 26, 46, 8
    PUSHBUTTON      "&Cancel", IDCANCEL, 34, 46, 50, 12
    DEFPUSHBUTTON   "&OK", IDC_SP_BUTTONOK, 89, 46, 50, 12
}

// Used to translate dialog units to pixels (using MapDialogRect)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_DUMMY DIALOG 0, 0, 223, 70
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE
FONT 9, "Segoe UI"
{
    COMBOBOX        IDC_DUMMY_COMBOBOX, 7, 7, 50, 12, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    PUSHBUTTON      "Button", IDC_DUMMY_BUTTON, 62, 7, 50, 12, 0, WS_EX_LEFT
    EDITTEXT        IDC_DUMMY_EDIT, 117, 7, 48, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Label", IDC_DUMMY_STATIC, 170, 9, 46, 8, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Button", IDC_DUMMY_BUTTON_PADDINGLARGE, 62, 24, 50, 12, 0, WS_EX_LEFT
    PUSHBUTTON      "Button", IDC_DUMMY_BUTTON_PADDINGSMALL, 62, 21, 50, 12, 0, WS_EX_LEFT
    PUSHBUTTON      "Button", IDC_DUMMY_BUTTON_PADDINGTINY, 62, 20, 50, 12, 0, WS_EX_LEFT
}

VS_VERSION_INFO VERSIONINFO
	FILEVERSION		RC_FILEVERSION
	PRODUCTVERSION	RC_FILEVERSION
	FILEOS			VOS_NT_WINDOWS32
	FILETYPE		VFT_APP
	FILEFLAGSMASK	0x0000003F
	FILEFLAGS		0x00000000
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "LegalCopyright", "Copyright (C) 2023 'Richard'"
			VALUE "OriginalFilename", "Rconpanel.exe"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 0x04E4
	}
}